# unstructured[all-docs] == 0.13.3
arrow
boto3
nltk
openai
opensearch-py
oss2
paddlepaddle-gpu
pinecone-client
psycopg2-binary
Pyarrow
PyPDF2
python-dotenv
requests-aws4auth
tenacity
tiktoken
unstructured.PaddleOCR
unstructured[all-docs]
weaviate-client